<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.htk.designtemplate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/noActionBar">
        <activity android:name=".Activity.MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.PrivacyWallActivity"
            android:label="@string/title_activity_privacy_wall"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Activity.FriendWallActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.RecentlySearch" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.CommentActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.NewPostActivity">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>